body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container-property-image {
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #eee;
}

.property-images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.property-details {
    max-width: 1200px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ddd;   
    margin: 60px auto;
    overflow: hidden;
}

.property-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.property-info h2 {
    color: #072460;
    font-size: 24px;
    margin-bottom: 10px;
}

.property-info p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.property-info p:nth-of-type(2) {
    font-weight: bold;
    font-size: 1rem;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    padding: 12px 18px;
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.whatsapp-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #1DA851;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 1024px) {
    .container-property-image {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .container-property-image {
        height: 400px;
    }

    .property-details {
        padding: 15px;
        margin: 20px;
    }

    .property-info {
        width: 100%;
        overflow: hidden;
    }

    .property-info p {
        font-size: 14px;
    }

    .whatsapp-button {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .container-property-image {
        height: 300px;
    }



    .property-details {
        max-width: 1200px;
        padding: 30px;
        margin: 20px;
        
    }

    .property-info {
        width: 100%;
        overflow: hidden;
        padding: 10px;
    }

    .property-info h2 {
        font-size: 22px;
    }

    .property-info p {
        font-size: 16px;
    }

    .property-info p:nth-of-type(1) {
        display: flex;
        flex-direction: row;

    }

    .property-info p i {
        margin-right: 10px;
    }

    .whatsapp-button {
        font-size: 14px;
        padding: 15px 0px;
    }

    .whatsapp-button img {
        width: 16px;
        height: 16px;
    }

    .description-icon{
        display: flex;
        border-right: 20px;

    }

}
